<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css" type="text/css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>


<body>
    <header>
        <img src="images/logo.png">
        <div class="nav_bar">
        <nav>
            <ul>
                <li><a class="active" href="home.html">Home</a></li>
                <li><a href="test.html">Plan your trip</a></li>
                <li><a href="#contact">FAQ</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </div>
    </header>


    <h1>This is the Homepage </h1>
    
</body>
</html>