<!DOCTYPE html>
<html>
  <head>
    <title>Florida Electricity Carbon Calculator</title>
  </head>
  <body>
    <h1>Florida Electricity Carbon Calculator</h1>
    <p>Click the button below to calculate the carbon emissions of electricity in Florida:</p>
    <button id="elec_cal">Calculate</button>
    <p id="florida_result"></p>

    <script>
      const apiKey = 'VmO1MFS235Hqbtt8vREynA';
      const apiUrl = 'https://www.carboninterface.com/api/v1/';

      const florida_result = document.getElementById('florida_result');
      const elec_cal = document.getElementById('elec_cal');

      elec_cal.addEventListener('click', getElecFl);

      function getElecFl() {
        const url = `${apiUrl}estimates`;
        const options = {
          headers: {
            Authorization: `Bearer ${apiKey}`
          }
        };

        fetch(url, options)
          .then(response => response.json())
          .then(data => {
            // Handle the API response here

            console.log(data);
            florida_result.textContent = `Carbon data: ${data[0].data.attributes.carbon_g}`;
          })
          .catch(error => {
            // Handle any errors that occur during the API request
            console.error(error);
          });
      }
    </script>
  </body>
</html>
