.test_page {
    background-color: antiquewhite;
  }
  
  .map_head {
    text-align: center;
    font-size: 35pt;
    font-family: 'Space Grotesk', sans-serif;
    color: darkgreen;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .nav_bar {
    background-color: black;
  }

  img {
    height: 40px;
    margin-right: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
  }
  
  .active {
    background-color: #04AA6D;
  }


  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    max-width: 1200px;
 }

  .box {
    width: 200px;
    height: 200px;
    background-color: #c4ffc4;
    border-radius: 10px;
    border-width: 4px;
    border-color: darkgreen;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
 }

  .title {
    font-weight: bold;
    margin-bottom: 10px;
 }

  .map {
    width: 80%;
    margin: 0 auto;
    height: 500px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  
  .map_desc{
    font-size:16pt ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }


 .location_search{
    text-align: center;
    font-size: 18pt;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    color: #6A5D3E;
}