<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <title>Distance Calculator</title>
  </head>
  <body class="test_page" onload="initMap()">
    <header>
      <img src="images/logo.png">
      <div class="nav_bar">
      <nav>
          <ul>
              <li><a class="active" href="test.html">Plan your trip</a></li>
              <li><a href="home.html">Home</a></li>
              <li><a href="#contact">FAQ</a></li>
              <li><a href="#about">About</a></li>
          </ul>
      </nav>
  </div>
  </header>






    <div class="map_head">
      <h1>Plan your next trip better</h1>
    </div>
    <div class="map_desc">
      <p>See how much your trip affects the environment! </p>
    </div>
    <div class="location_search">
      <label for="origin">Origin:</label>
      <input type="text" id="origin" placeholder="Enter origin address">
      <label for="destination">Destination:</label>
      <input type="text" id="destination" placeholder="Enter destination address">
      <div id="autocomplete"></div>
      <button onclick="calculateDistance()">Calculate distance</button>
      <div id="distance"></div>

      <div id="make" style="display: none;">
        <label for="make_list">Search for vehicle make:</label>
        <input type="text" id="make_search" list="make_list" placeholder="Ex: Hyundai"></input>
        <datalist id="make_list"></datalist>
      </div>
  
      <div id="model" style="display: none;">
        <label for="model_list">Search for vehicle model:</label>
        <input type="text" id="model_search" list="model_list" placeholder="Ex: Elantra"></input>
        <datalist id="model_list"></datalist>
      </div>
  
      <div id="year" style="display: none;">
        <label for="year_list">Enter a vehicle year:</label>
        <input type="text" id="year_search" list="year_list" placeholder="Ex: 2011"></input>
        <datalist id="year_list"></datalist>
      </div>
      
    </div>

    <div id="map" class="map"></div>


    
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg"></script> 
    TODO: SECRET HERE, DESTROY IT-->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg",
        // Add other bootstrap parameters as needed, using camel case.
        // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
      });
    </script>
    
    <script src="test.js"></script>
    
    <div class="container">
      <div class="box" id="box1">
        <div class="title">Car Name 1</div>
        <div><span class="bold">CO2: </span><span class="data" id="box1-co2"></span></div>
      </div>
      <div class="box" id="box2">
        <div class="title">Car Name 2</div>
        <div><span class="bold">CO2: </span><span class="data" id="box2-co2"></span></div>
      </div>
      <div class="box" id="box3">
        <div class="title">Car Name 3</div>
        <div><span class="bold">CO2: </span><span class="data" id="box3-co2"></span></div>
      </div>
      <div class="box" id="box4">
        <div class="title">Car Name 4</div>
        <div><span class="bold">CO2: </span><span class="data" id="box4-co2"></span></div>
      </div>
    </div>

  
  </body>
</html>
