<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
    <title>Distance Calculator</title>
  </head>
  <body class="test_page" onload="initMap()">
    <div class="map_head">
      <h1>Plan your next trip better</h1>
    </div>
    <div class="map_desc">
      <p>See how much your trip affects the environment! </p>
    </div>
    <div class="location_search">
      <label for="origin">Origin:</label>
      <input type="text" id="origin" placeholder="Enter origin address">
      <label for="destination">Destination:</label>
      <input type="text" id="destination" placeholder="Enter destination address">
      <div id="autocomplete"></div>
      <button onclick="calculateDistance()">Calculate distance</button>
      <div id="distance"></div>
    </div>

    <div id="map" class="map"></div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg"></script>
    <script src="test.js"></script>
  </body>
</html>
