<!DOCTYPE html>
<html>
  <head>
    <title>Trip Calculator</title>
  </head>
  <body>
    <div>
      <label for="make_list">Search for vehicle make:</label>
      <input type="text" id="make_search" list="make_list" placeholder="Ex: Honda" disabled="True"></input>
      <datalist id="make_list"></datalist>
    </div>

    <div>
      <label for="model_list">Search for vehicle model:</label>
      <input type="text" id="model_search" list="model_list" placeholder="Ex: Elantra" disabled="True"></input>
      <datalist id="model_list"></datalist>
    </div>

    

    <script src="trip_calculator.js"></script>
  </body>
</html>